<!--Line with Area Chart 1 Starts-->
<div class="row">
  <div class="col-10">
    <div class="card">

      <div class="card-header">
        <div class="row no-gutters">
          <div class="col-4">
            <h4 class="card-title">
              Flashcards
            </h4>
          </div>
          <div class="col-5"></div>
          <div class="col-3">

            <!-- BEGIN CATEGORY CHOICE -->
            <ng-select [items]="categories" bindLabel="name" placeholder="Select a category" [(ngModel)]="selectedCategory">
            </ng-select>
            <!-- END CATEGORY CHOICE -->

          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row no-gutters">

            <!--BEGIN KARTEIKARTE-->
            <div class="card col-md-3 col-sm-1 bg-danger white" style="min-height:180px;margin-right: 8.3333333333%;">
              <div class="card-content">
                <div class="card-header">
                  <div class="card-title">
                    <a href="/" class="text-white">
                      How bad is corona virus?
                    </a>
                  </div>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <!--END KARTEIKARTE-->

            <!--BEGIN KARTEIKARTE-->
            <div class="card col-md-3 col-sm-1 col-xs-1 bg-warning white" style="min-height:180px;margin-right: 8.3333333333%;">
              <div class="card-content">
                <div class="card-header">
                  <div class="card-title">Do you think banana is harmful?</div>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <!--END KARTEIKARTE-->

            <!--BEGIN KARTEIKARTE-->
            <div class="card col-md-3 col-sm-1 col-xs-1 bg-success white" style="min-height:180px;margin-right: 8.3333333333%;">
              <div class="card-content">
                <div class="card-header">
                  <div class="card-title">You sure about that?</div>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <!--END KARTEIKARTE-->

            <!--BEGIN KARTEIKARTE-->
            <div class="card col-md-3 col-sm-1 col-xs-1 bg-success white" style="min-height:180px;margin-right: 8.3333333333%;">
              <div class="card-content">
                <div class="card-header">
                  <div class="card-title">Does sugar cause disease?</div>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <!--END KARTEIKARTE-->

            <!--BEGIN KARTEIKARTE-->
            <div class="card col-md-3 col-sm-1 col-xs-1 bg-success white" style="min-height:180px;margin-right: 8.3333333333%;">
              <div class="card-content">
                <div class="card-header">
                  <div class="card-title">Are you a good boy?</div>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <!--END KARTEIKARTE-->

            <!--BEGIN KARTEIKARTE-->
            <div class="card col-md-3 col-sm-1 col-xs-1 bg-success white" style="min-height:180px;margin-right: 8.3333333333%;">
              <div class="card-content">
                <div class="card-header">
                  <div class="card-title">Which one is a bad boy?</div>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <!--END KARTEIKARTE-->

          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="col-xl-2 col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Actions</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <button class="font-medium-2 text-center my-2 btn btn-success"><i class="icon-plus"></i> Flashcard</button>
          <button class="font-medium-2 text-center my-2 btn btn-primary"><i class="icon-plus"></i> Category</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Line with Area Chart 1 Ends-->

