<section id="action-form-layout">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">New Single Choice</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>You can use this form to create a new single choice flash card.</p>
                        <form [formGroup]="singleChoiceForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="question">Question</label>
                                <textarea id="question" formControlName="question" rows="4" class="form-control"
                                          name="question" required
                                          [ngClass]="{ 'is-invalid': singleChoiceFormSubmitted && sc.question.errors,
                                                       'is-valid': singleChoiceFormSubmitted && !sc.question.errors }"
                                ></textarea>

                                <div *ngIf="singleChoiceFormSubmitted && sc.question.errors"
                                     class="help-block mt-1 text-danger">
                                    <p *ngFor="let error_msg of sc.question.errors.serverErrors">
                                        <i class="ft-alert-circle align-middle"></i> {{ error_msg }}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label>Solution</label>-->
                                <div class="input-group">
                                    <div class="radio d-inline-block mr-2 mb-1">
                                        <input type="radio" id="solution1" name="solution" formControlName="solution"
                                        value="true">
                                        <label for="solution1">True</label>
                                    </div>
                                    <div class="radio d-inline-block">
                                        <input type="radio" id="solution2" name="solution" formControlName="solution"
                                        value="false">
                                        <label for="solution2">False</label>
                                    </div>
                                </div>
                                <div *ngIf="singleChoiceFormSubmitted && sc.solution.errors"
                                     class="help-block mt-1 text-danger">
                                    <p *ngFor="let error_msg of sc.solution.errors.serverErrors">
                                        <i class="ft-alert-circle align-middle"></i> {{ error_msg }}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="deadline">Deadline</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" id="deadline" [(ngModel)]="popupModel" ngbDatepicker
                                           #d="ngbDatepicker" formControlName="deadline"
                                           [ngClass]="{'is-invalid': singleChoiceFormSubmitted && sc.deadline.errors,
                                                       'is-valid': singleChoiceFormSubmitted && !sc.deadline.errors }"/>
                                    <div class="input-group-append">
                                        <div class="input-group-text" (click)="d.toggle()">
                                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="singleChoiceFormSubmitted && sc.deadline.errors"
                                     class="help-block mt-1 text-danger">
                                     <p *ngFor="let error_msg of sc.deadline.errors.serverErrors">
                                        <i class="ft-alert-circle align-middle"></i> {{ error_msg }}
                                     </p>
                                </div>
                            </div>
                            <br/>

                            <div class="form-group">
                                <label for="workload">Workload (per day)</label>
                                <input type="number" id="workload" class="form-control" name="workload"
                                       formControlName="workload"
                                       [ngClass]="{'is-invalid': singleChoiceFormSubmitted && sc.workload.errors,
                                                       'is-valid': singleChoiceFormSubmitted && !sc.workload.errors }"
                                />
                                <div *ngIf="singleChoiceFormSubmitted && sc.workload.errors"
                                     class="help-block mt-1 text-danger">
                                    <p *ngFor="let error_msg of sc.workload.errors.serverErrors">
                                        <i class="ft-alert-circle align-middle"></i> {{ error_msg }}
                                    </p>
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary mr-2"><i class="ft-check-square mr-1"></i>Save</button>
                                <a class="ml-auto btn btn-outline-info mr-2" [routerLink]="['/flashcards/new']">Back</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
