<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <div class="row no-gutters">
                    <div class="col-12">
                        <h4 class="card-title">
                            New Flashcard
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 offset-3">
                            <div class="row">
                                <div class="col-12">
                                    <new-multiple-choice-form></new-multiple-choice-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

