<!--Line with Area Chart 1 Starts-->
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body text-center">

                    <app-progress-chart></app-progress-chart>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 text-right">
                        <a class="font-medium-2 text-center my-2 btn btn-lg btn-success" [routerLink]="['/flashcards/new']" style="margin-right: 2.5em;"><i class="icon-plus"></i> Flashcard</a>
                    </div>
                </div>
<!--                <div class="row">-->
<!--                    <div class="col-4 offset-4">-->
<!--                        <h4 class="card-title text-center">Learning Group</h4>-->
<!--                        <ng-select [items]="learningGroups" bindValue="name" bindLabel="name" placeholder="Select Learning Group" [(ngModel)]="selectedLearningGroup" style="min-width:150px;">-->
<!--                        </ng-select>-->
<!--                        <p class="text-center" style="padding-top: 10px;">{{selectedLearningGroup}}&nbsp;&nbsp;<a href="/" class="text-white"><i class="icon-pencil"></i></a></p>-->
<!--                        <br>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="row no-gutters text-center">
                    <div class="col-12">
                        <h4 class="card-title">
                            ToDo Flashcard
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">

                    <div class="row no-gutters">

                        <!--BEGIN KARTEIKARTE-->
                        <div *ngIf="flashcard.id" class="card col-4 offset-4 bg-warning white" style="margin: auto; !important ">
                            <div class="card-content">
                                <div class="card-header">
                                    <div class="card-title text-center">
                                        <a href="{{flashcard.answer_url}}" class="text-white">
                                            {{ flashcard.question }}
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body"></div>
                                <div class="card-footer text-center">
                                    <a href="{{flashcard.answer_url}}" class="font-medium-3 btn text-white btn-dark">Start Task &nbsp;<i class="ft-corner-down-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!flashcard.id" class="col-md-8 offset-md-2 white text-center">No entry found</div>
                        <!--END KARTEIKARTE-->

<!--                        &lt;!&ndash;BEGIN KARTEIKARTE&ndash;&gt;-->
<!--                        <div class="card col-md-3 col-sm-1 bg-danger white" style="min-height:180px;margin-right: 8.3333333333%;">-->
<!--                            <div class="card-content">-->
<!--                                <div class="card-header">-->
<!--                                    <div class="card-title">-->
<!--                                        <a href="/" class="text-white">-->
<!--                                            How bad is corona virus?-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;END KARTEIKARTE&ndash;&gt;-->

<!--                        &lt;!&ndash;BEGIN KARTEIKARTE&ndash;&gt;-->
<!--                        <div class="card col-md-3 col-sm-1 col-xs-1 bg-success white" style="min-height:180px;margin-right: 8.3333333333%;">-->
<!--                            <div class="card-content">-->
<!--                                <div class="card-header">-->
<!--                                    <div class="card-title">-->
<!--                                        <a href="/" class="text-white">-->
<!--                                            You sure about that?-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;END KARTEIKARTE&ndash;&gt;-->

                    </div>
                </div>
            </div>


            <div class="col-12 text-center" style="padding-bottom: 1em;">
                <br>
                <a class="font-medium-2 text-white" [routerLink]="['/flashcards/flashcards']"><u>View all Flashcards</u></a>
            </div>


        </div>
    </div>


</div>
<!--Line with Area Chart 1 Ends-->

