<section id="action-form-layout">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">New Single Choice</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>You can use this form to create a new single choice flash card.</p>
                        <form>
                            <div class="form-group">
                                <label for="question">Question</label>
                                <textarea id="question" rows="4" class="form-control" name="question"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Answer</label>
                                <div class="input-group">
                                    <div class="radio d-inline-block mr-2 mb-1">
                                        <input type="radio" id="answer1" name="answer">
                                        <label for="answer1">Yes</label>
                                    </div>
                                    <div class="radio d-inline-block">
                                        <input type="radio" id="answer2" name="answer">
                                        <label for="answer2">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="deadline">Deadline</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" id="deadline" [(ngModel)]="popupModel" ngbDatepicker
                                           #d2="ngbDatepicker"/>
                                    <div class="input-group-append">
                                        <div class="input-group-text" (click)="d2.toggle()">
                                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div class="form-group">
                                <label for="interval">Interval in hours</label>
                                <input type="number" id="interval" class="form-control" name="interval"/>
                            </div>

                            <button type="button" class="btn btn-primary mr-2"><i class="ft-check-square mr-1"></i>Save</button>
                            <button type="button" class="btn btn-secondary"><i class="ft-x mr-1"></i>Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
